* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

:root{
    --bg-color: rgb(56, 52, 52);
    --text-color: white;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

header {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  justify-content: space-between;
  border-bottom: 1px solid transparent;
  background: transparent;
}

.navbar{
    display: flex;
}

.navbar a{
    color: var(--text-color);
    font-size: 17px;
    font-weight: bold;
    margin: 0 25px;
}


section{
    padding: 160px;
}


@media (max-width: 1480px){
    header{
        padding: 12px 2.5%;
        transition: .1s;
    }

    header.sticky{
        padding: 10px 2.5%;
        transition: .1s;
    }
}